{% if template.name != 'bundle' %}
    <div class="sticky-add-to-cart-mobile">
        <span class="price">$49.95</span>
        <div class="stars">★★★★☆</div>
        <button class="add-to-cart-button">Add to Cart</button>
    </div>
    <div class="sticky-add-to-cart-desktop">
        <span class="price">$49.95</span>
        <div class="stars">★★★★☆</div>
        <button class="add-to-cart-button">Add to Cart</button>
    </div>
{% endif %}